<p id="notice"><%= notice %></p>

<h1>Listing Auth Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hashed password</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auth_users.each do |auth_user| %>
      <tr>
        <td><%= auth_user.name %></td>
        <td><%= auth_user.hashed_password %></td>
        <td><%= auth_user.level %></td>
        <td><%= link_to 'Show', auth_user %></td>
        <td><%= link_to 'Edit', edit_auth_user_path(auth_user) %></td>
        <td><%= link_to 'Destroy', auth_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auth user', new_auth_user_path %>
