<%= form_for(@zone) do |f| %>
  <% if @zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
      <% @zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :bill_type %><br>
      <%= select('zone', 'bill_type', [['Timed Override', 'BO'],
                                        ['KWH Meter', 'MO'],
                                        ['Gas Meter', 'GO'],
                                        ['Runtime', 'RT']]) %>
    </div>
  <div class="field">
    <%= f.label 'Billable Square Footage of the Area' %><br>
    <%= f.number_field :sqft, 'size' => 5 %>
  </div>
  <div class="field">
      <%= f.label 'Charge per SqFt per Hour' %><br>
      <%= f.number_field :ot_charge,  :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :hour_limit %><br>
    <%= f.number_field :hour_limit %>
  </div>
  <div class="field">
    <%= f.label :meter_pct %><br>
    <%= f.number_field :meter_pct %>
  </div>
  <div class="field">
  <%= f.label :event_id %><br>
  <%= select('zone', 'event_id', EventEnrollment.all.collect{ | e | [e.event_name + " " + e.event_enrollment_id.to_s, e.event_enrollment_id]}) %>
</div>
   
  <div class="field">
     <label for="zone_tenant">Tenant this zone belongs to:</label><br />
     <%= select('zone', 'tenant_id', Tenant.all.collect { |t| [t.name, t.id ]}) %> &nbsp; &nbsp; <%= link_to 'New Tenant', :action => 'new', :controller => 'tenants' %>
   </div>
   <div class="field">
     <%= f.label :rate %><br>
     <%= f.number_field :rate %>
   </div>


  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>
