<!DOCTYPE html>
<html>
<head>
  <title>OvrNG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
    <div id="banner">
        <%= @page_title || "Override NG" %>
    </div>
    <div id="columns">
        <div id="side">
            <ul>
                <li><%= link_to 'Generate Bill Request', reports_request_bill_url %> Home </li>
                <li><%= link_to 'Tenants', tenants_url %>Tenants</li>
                <li><%= link_to 'Zones', zones_url %>Areas</li>
                <li><%= link_to 'Managers', managers_url %>Managers</li>
            </ul>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </div>

</body>
</html>
